.banner {
    //background-color: $main-black;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media(min-width: 700px) {
        padding: 20px 0;
    }
    .bannerTitle {
        //@include banner-title;
        width: 100%;
        display: flex;
        align-items: center;
        align-self: center;
        border-left: 5px solid $main-red;
        max-width: 1200px;
        padding-left: 20px;
        @include global-margin;
        @media( min-width: 700px) {
            max-width: $max-page-width-lg;
            @include banner-title($font-size: $heading-font-size-lg)
        }
    }
}

.sectionContent {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    @media( min-width: 700px) {
        max-width: $max-page-width-lg;
        justify-content: space-between;
        display: grid;
        //flex-wrap: wrap;
    }
    .Image {
        width: 100%;
        height: 260px;
        img {
            width: 100%;
            height: 260px;
            object-fit: cover;
        }
        @media(min-width: 700px) {
            order: 3;
        }
    }
    .button {
        order: 3;
        margin-bottom: 50px;
        @media( min-width: 700px) {
            display: block;
            flex: 100%;
        }
    }
    .sectionText {
        order: 2;
        @include global-margin;
        padding: 50px 0;
        ;
        @media( min-width: 700px) {
            max-width: $max-page-width-lg;
            max-width: $standard-box-width-lg;
            height: 350px;
            width: 100%;
        }
    }
    .tagline {
        @include tagline;
        padding-bottom: 32px
    }
}

.text {
    @include paragraph;
}

#theReferee {
    background-color: $main-gray;
    color: $main-white;
}

.blackBanner {
    @include black-section;
    //@include banner-title($text-colour: $main-white, $banner-colour: $main-black);
}

.whiteBanner {
    @include white-section;
    //@include banner-title($text-colour: $main-black, $banner-colour: $main-white);
}