.button {
    background-color: $main-red;
    color: white;
    text-transform: uppercase;
    border: 2px solid $main-white;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    width: 260px;
    height: 65px;
    font-size: 1rem;
    cursor: pointer;
}