.button {
    background-color: $main-red;
    color: white;
    text-transform: uppercase;
    border: 1px solid $main-white;
    padding: 15px;
    border-radius: 6px;
    font-weight: bold;
    width: 260px;
    height: 65px;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
        color: $main-red;
        background-color: $main-white;
        border: 1px solid $main-red;
        transition: all .5s ease-in-out;
    }
}