.ctaBanner {
    display: flex;
    flex-direction: column;
    @include banner-title($banner-colour: $main-gray);
    background: repeating-linear-gradient( to right, #0e0e0e, #0e0e0e 100px, #424242 100px, #424242 200px);
    height: 300px;
    justify-content: center;
    align-items: center;
    color: white;
    h2 {
        @include global-margin;
        padding-bottom: 50px;
        @media (min-width: 900px) {
            @include banner-title($font-size: $heading-font-size-lg);
        }
    }
}