@font-face {
    font-family: 'Gotham-Black';
    src: url('../fonts/gotham-black-webfont.woff2') format('woff2'), url('../fonts/gotham-black-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/gothambold-webfont.woff2') format('woff2'), url('../fonts/gothambold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/gothambook-webfont.woff2') format('woff2'), url('../fonts/gothambook-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/gothamlight-webfont.woff2') format('woff2'), url('../fonts/gothamlight-webfont.woff') format('woff');
}