.hidden {
    display: none;
}

a {
    font-family: $main-font;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

* {
    font-family: $main-font;
    font-size: 20px;
}