.campContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .campTitle {
        height: 80px;
        @include banner-title;
        display: flex;
        align-items: center;
        padding-left: 20px;
        .red {
            color: $main-red;
            padding-right: 5px;
        }
    }
    img {
        width: 100%;
        height: 260px;
        object-fit: cover;
    }
    .text {
        @include global-margin;
        padding: 50px 0;
    }
    .button {
        margin-bottom: 50px;
    }
}