#ourServices {
    .banner {
        margin-left: 50px;
    }
}

.servicesContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(min-width: 700px) {
        flex-direction: row;
        width: 100%;
    }
    .service {
        display: flex;
        align-items: flex-end;
        height: 250px;
        width: 100%;
        max-width: 100%;
        background-size: cover;
        background-image: url(../images/placeholder.jpg);
        @media (min-width: 500px) {
            height: 300px;
            max-width: 100%;
            align-self: center;
        }
        // @media (min-width: 700px) {
        //     height: 400px;
        // }
        @media (min-width: 1000px) {
            //flex-basis: 33%;
            height: 600px;
            width: 100%;
            max-width: 100%;
            margin: 0;
        }
        .serviceTitle {
            width: 100%;
            background-color: rgba($main-red, .90);
            height: 42px;
            align-items: center;
            display: flex;
            justify-content: center;
            color: $main-white;
            span {
                @include banner-title($banner-colour: none)
            }
        }
    }
}