//global vars
$main-gray: #323232;
$main-red: #D71D24;
$main-black: rgb(24, 24, 24);
$main-white: white;
$main-font: 'Gotham-Book',
Arial,
Helvetica,
sans-serif;
//hero vars
$hero-title: 28px;
$hero-text: 24px;
$hero-title-lg: 50px;
$hero-text-lg: 40px;
//heading/banner vars
$heading-font: 'Gotham-Black',
Arial,
Helvetica,
sans-serif;
$heading-weight: 600;
$heading-font-size-lg: 40px;
$heading-font-size:20px;
//page width vars
$max-page-width-lg: 1200px;
$standard-box-width-lg: 650px;
//paragraph vars
$p-font: 'Gotham-Light',
Arial,
sans-serif;
$tagline-weight: 400;
$tagline-font-size-lg: 24px;
$tagline-font-size: 18px;
$paragraph-weight: 100;
$paragraphy-font-size: 1rem;
$p-line-height: 30px;
//title headings
$page-title: 'Gotham-Bold',
Arial,
Helvetica,
sans-serif;